.div-head{
  margin-right: 15%;
  margin-bottom: 20px;
}

html{
  height: 100%;
}

.div-head{
	margin:0;
	color:#ecf0f1;
}
*,:after,:before{box-sizing:border-box}
.claireFixe:after,.claireFixe:before{content:'';display:table}
.claireFixe:after{clear:both;display:block}

.material{


	position:relative;
	background:#1e1d23;
}
.material a{
	color:inherit;
	text-decoration:none;
}


.material .profile{
	padding:15px;
	position:relative;
}

.material .profile .cover{
	width:100%;
	height:150px;
	overflow:hidden;
	position:relative;
	background:#d9addf;
}
.material .profile .cover:before{
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:6;
	content:'';
	position:absolute;
	background:linear-gradient(to bottom, rgba(0,0,0,0),  rgba(0,0,0,.4));
}
.material .profile .cover .vec{
	height:150px;
	position:absolute;
}
.material .profile .cover .vec:before,
.material .profile .cover .vec:after{
	width:0;
	height:0;
	content:'';
	display:block;
	position:inherit;
	background:inherit;
}
.material .profile .cover .vec_b:after,
.material .profile .cover .vec_c:after{
	width:1px;
	right:12px;
	height:100%;
	background:rgba(0,0,0,.4);
	-webkit-transform:skewX(5deg);
	transform:skewX(5deg);
}
.material .profile .cover .vec_a{
	z-index:4;
	left:-35px;
	width:198px;
	background:#fb544e;
	-webkit-transform:skewX(25deg);
	transform:skewX(25deg);
	box-shadow:2px 0 6px rgba(0,0,0,.8);
}

.material .profile .cover .vec_c{
	z-index:2;
	left:140px;
	width:95px;
	background:#d9addf;
	-webkit-transform:skewX(-30deg);
	transform:skewX(-30deg);
	box-shadow:2px 0 3px rgba(0,0,0,.6);
}
.material .profile .cover .vec_d{
	z-index:1;
	left:235px;
	width:130px;
	background:#422249;
	-webkit-transform:skewX(-30deg);
	transform:skewX(-30deg);
}
.material .cover .vec_d:before{
	width:1px;
	left:12px;
	height:100%;
	background:rgba(0,0,0,.4);
	-webkit-transform:skewX(5deg);
	transform:skewX(5deg);
}
.material .profile .cover .vec_e{
	z-index:5;
	right:-75px;
	width:210px;
	background:#a43dad;
	-webkit-transform:skewX(45deg);
	transform:skewX(45deg);
	box-shadow:-5px -5px 10px rgba(0,0,0,.4);
}
.material .profile .photo{
	left:30px;
	z-index:7;
	width:108px;
	bottom:30px;
	height:108px;
	overflow:hidden;
	border-radius:50%;
	position:absolute;
}
.material .profile .photo img{
	width:100%;
	display:block;
}






.material .profile .info .name{
	left:35%;
	bottom:128px;
	position:absolute;
}

.material .profile .info .score{
	left:64%;
	bottom:127px;
	position:absolute;
}

.material .profile .info .lose{
	left:35%;
	bottom:46px;
	position:absolute;
}

.material .profile .info .winer{
	left:64%;
	bottom:46px;
	position:absolute;
}
.material .profile .info{
	z-index:7;
	text-shadow:0 3px 1px rgba(0,0,0,.6);
}

.material .profile .info .name,
.material .profile .info .lose,
.material .profile .info .winer,
.material .profile .info .score{
	font-size:20px;
	font-weight:bold;
}/*.material .profile .info .score{
	font-size:13px;
	padding-top:5px;
}*/

.material .profile .info p{
	margin-left: 5px;
}


.material .profile .toggle:before,
.material .profile .toggle:after{
	top:50%;
	left:50%;
	content:'';
	background:#eee;
	position:inherit;
}




.material .tabs-content{
	padding:15px;
}
.material .tabs-content .friend-list{
	background:#25252f;
}
.material .tabs-content .friend-list .list-li{
	padding:10px 15px;
}
.material .tabs-content .friend-list .list-li:not(:last-child){
	border-bottom:1px solid #444;
}
.material .tabs-content .friend-list .list-li.title{
	font-size:16px;
	padding:15px!important;
}

.material .tabs-content .friend-list .photo{
	width:30px;
	height:30px;
	overflow:hidden;
	border-radius:50%;
}
.material .tabs-content .friend-list .photo img{
	width:100%;
	display:block;
}
.material .tabs-content .friend-list .info{
	margin-left:10px;
}
.material .tabs-content .friend-list .info .name{
	font-size:12px;
	font-weight:400;
}
.material .tabs-content .friend-list .info .time{
	color:#aaa;
	font-size:11px;
}
.material .tabs-content .friend-list .action a{
	height:30px;
	padding:5px;
	line-height:30px;
}
.material .tabs-content .friend-list .action .fa{
	font-size:12px;
}



.changerImage > input{
  display: none;
}




.piechart {
  padding: 10px 50px;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
