@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  background: #333;
  overflow-x: hidden;
}

.page {
  display: flex;
  min-height: 100%;

}

.navgauche {
  position: absolute;
  width: 220px;
}

/* pour transition 3d */
.content {

  flex: 1;
  padding: 30px;

  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0,0,0);
  transition: transform .3s;

}

.content.isOpen {
  transform: translate3d(220px,0,0);
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/*logo sur navgauche*/

.logo{
  height: 150px;
  font-size: 18px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.logo img{
	width: 170px;
	height: 120px;

}

.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

/* Les icones avant li*/

/*site : http://astronautweb.co/snippet/font-awesome/*/
/*icone classement*/
.nav li:nth-child(3) a:before { content: '\f0e8'; }

/*icone contacter nous*/
.nav li:nth-child(5) a:before { content: '\f128'; }

/*icone déconnexion */
.nav li:nth-child(6) a:before { content: '\f023'; left: 23px; }

/*icone a propos*/
.nav li:nth-child(4) a:before { content: '\f022'; }


/*icone Acceuil*/
.nav li:nth-child(1) a:before { content: '\f015'; }

/*icone pour jouer*/
.nav li:nth-child(2) a:before { content: '\f11b'; }

.nav li a:hover {
  background: #444;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}

.button {
  cursor: pointer;
  float: left;

}

.header{
  background:#ccc;
  position: relative;
  left: 10%;
  width: 900px;
  height: 80px;
  border: 2px solid black;
  margin-bottom: 70px;
  border-radius: 5px;
  vertical-align:middle;
}

.header .left{
  width:  150px;
  height: 80px;
  position: absolute;
    border: 3px solid black;
  float: left;
  text-align: center;
  line-height: 75px;
}

.header .right{
  width:  150px;
  height: 80px;
  border: 3px solid black;
  float: right;
  text-align: center;
  line-height: 75px;
}
.top-bar{
  padding:30px;
  background:#25252f;
  margin:0;
  color:#63B8E5;
  text-align:center;
  font:28px Roboto;
}
