.list {
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: 30px;
  position:relative;
  background-size:cover;
  background-attachment:fixed;
}
html{
  height: 100%;
}

.list li {
  float: left;
  height: 360px;
  overflow: hidden;
  padding: 0 1px 1px 0;
  margin-left: 10%;
  margin-bottom: 30px;
  margin-top: 100px;
  width: 360px;
}
.list li:focus a::after, .list li:hover a::after {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list li:focus .tile-primary-content img, .list li:hover .tile-primary-content img {
  -moz-transform: scale3d(1.2, 1.2, 0);
  -webkit-transform: scale3d(1.2, 1.2, 0);
  transform: scale3d(1.2, 1.2, 0);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transition: -moz-transform 15000ms cubic-bezier(0, 0, 0.8, 0.9);
  -o-transition: -o-transform 15000ms cubic-bezier(0, 0, 0.8, 0.9);
  -webkit-transition: -webkit-transform 15000ms cubic-bezier(0, 0, 0.8, 0.9);
  transition: transform 15000ms cubic-bezier(0, 0, 0.8, 0.9);
}
.list li:focus p,
.list li:focus h2,
.list li:focus .tile-secondary-content, .list li:hover p,
.list li:hover h2,
.list li:hover .tile-secondary-content {
  opacity: 1;
}

.list li.tile-job:focus .tile-primary-content p, .list li.tile-job:hover .tile-primary-content p, .list li.tile-facebook:focus .tile-primary-content p, .list li.tile-facebook:hover .tile-primary-content p, .list li.tile-twitter:focus .tile-primary-content p, .list li.tile-twitter:hover .tile-primary-content p {
  -moz-transform: translate3d(150%, 0, 0);
  -webkit-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1);
}
.list li.tile-job:focus .tile-secondary-content p, .list li.tile-job:hover .tile-secondary-content p, .list li.tile-facebook:focus .tile-secondary-content p, .list li.tile-facebook:hover .tile-secondary-content p, .list li.tile-twitter:focus .tile-secondary-content p, .list li.tile-twitter:hover .tile-secondary-content p {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition-delay: 150ms;
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
}
.list li.tile-job .tile-primary-content p, .list li.tile-facebook .tile-primary-content p, .list li.tile-twitter .tile-primary-content p {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition-delay: 150ms;
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
}
.list li.tile-job .tile-secondary-content p, .list li.tile-facebook .tile-secondary-content p, .list li.tile-twitter .tile-secondary-content p {
  opacity: 1;
  -moz-transform: translate3d(-150%, 0, 0);
  -webkit-transform: translate3d(-150%, 0, 0);
  transform: translate3d(-150%, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1);
}
.list li.tile-job .tile-primary-content {
  background-color: #515151;
}

.list li.tile-person {
  text-align: center;
}
.list li.tile-person .tile-secondary-content {
  display: table;
  height: 100%;
  padding: 0;
  width: 100%;
}
.list li.tile-person .tile-secondary-container {
  display: table-cell;
  vertical-align: middle;
}
.list li.tile-person h2 {
  font-size: 24px;
  position: static;
}
.list li.tile-person p {
  color: #a18e5c;
  font-family: 'Georgia', serif;
  font-size: 17px;
  margin: .2em;
  text-transform: none;
}
.list a,
.list button {
  color: white;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.list .tile-primary-content,
.list .tile-secondary-content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}
.list .tile-primary-content {
  background-color: #a49058;
  text-align: center;
}

.list .tile-secondary-content {
  opacity: 0;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
.list .tile-secondary-content p,
.list .tile-secondary-content h2 {
  opacity: 0;
  -moz-transition: opacity 200ms ease-in 100ms;
  -o-transition: opacity 200ms ease-in 100ms;
  -webkit-transition: opacity 200ms ease-in;
  -webkit-transition-delay: 100ms;
  transition: opacity 200ms ease-in 100ms;
}
.list p,
.list h2 {
  text-transform: uppercase;
}
.list h2 {
  font-size: 12px;
  margin: 0;
  position: absolute;
}
.list img{
  width: 107px;
  height: 65px;
}
.list p {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.1em;
  margin: 4em 0 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
