{% extends "base.html" %}

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='selection.css') }}">
    {% endblock %}

{% block contentbase %}
<div class="container" >
  <ul class="list">

  <li class="tile-job">

<!-- <a  href="{{ url_for('jouer') }}">Jouer</a> -->

    <a href="{{ url_for('newTournoi') }}">
      <div class="tile-primary-content">
        <h2><img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo" /></h2>
        <p>Nouveau Tournoi</p>
      </div>
      <div class="tile-secondary-content">
        <p>Créer un nouveau tournoi</p>
      </div>
    </a>
  </li>

  <li class="tile-job">
    <a href="{{ url_for('newGroupe') }}">
      <div class="tile-primary-content">
        <h2><img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo" /></h2>
        <p>Nouveau Groupe</p>
      </div>
      <div class="tile-secondary-content">
        <p>Créer un nouveau groupe</p>
      </div>
    </a>
  </li>

  <li class="tile-job">
    <a href="{{ url_for('gererTournoi') }}">
      <div class="tile-primary-content">
        <h2><img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo" /></h2>
        <p>Gérer tournoi</p>
      </div>
      <div class="tile-secondary-content">
        <p>Modifier les paramètres d’un tournoi</p>
      </div>
    </a>
  </li>

  <li class="tile-job">
    <a href="{{ url_for('gererGroupe') }}">
      <div class="tile-primary-content">
       <h2><img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo" /></h2>
        <p>Gérer Groupe</p>
      </div>
      <div class="tile-secondary-content">
        <p>Modifier les paramètres d’un groupe</p>
      </div>
    </a>
  </li>

</ul>
</div>
{% endblock %}
