{% extends "bootstrap/base.html" %}


{% block title %}{{ title}}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
{% endblock %}



{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{url_for('.static', filename='nav.js')}}"></script>

{% endblock %}

{% block content %}
<body>
	<div class="page">

		<div class="navgauche">
			<div class="logo">
				<img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo" />
			</div>
			<ul class="nav">
				{% if current_user.is_authenticated %}
				<li>
					{% if current_user.type_compte=="utilisateur" %}
					<a href="{{ url_for('acceuil_user') }}" >Accueil</a>
					{% else %}
					<a href="{{ url_for('acceuil_admini') }}" >Accueil</a>
					{% endif %}

				</li>
				<li>
					<a  href="{{ url_for('jouer') }}">Jouer</a>
				</li>
				<li>
					<a href="{{ url_for('classements') }}">Classement</a>
				</li>
				<li>
					<a href="{{ url_for('apropos') }}">Aide</a>
				</li>
				<li>
					<a href="{{ url_for('contact') }}">Contactez nous</a>
				</li>
				<li>
					<a href="{{ url_for('logout') }}">Déconnexion</a>
				</li>
				{% else %}
				<li>
					<a href="{{ url_for('bonjour') }}" >Accueil</a>
				</li>

				<li>
					<a href="{{ url_for('classements') }}" >Classement</a>
				</li>

				<li>
					<a href="{{ url_for('apropos') }}">Aide</a>
				</li>

				<li>
					<a href="{{ url_for('contact') }}">Contactez nous</a>
				</li>

				<li>
					<a href="{{ url_for('connexion') }}" >Connexion</a>
				</li>
 
				<li>
					<a href="{{ url_for('inscription') }}">Inscription</a>
				</li>
				<li>

					{% endif %}

				</ul>
			</div>
			<!-- faut tester si utilisateur est identifier on met class="content isOpen" sinon on met class="content" -->

			<div class="content isOpen">
				<header class="entete">
					<a class="button"></a>
					{% if  current_user.is_authenticated %}
					<div class="top-bar">

						<span class="title"> Bienvenue {{ current_user.nom|capitalize }} {{ current_user.prenom|capitalize }}</span>
						<div class="pull-right">
							<!-- {%   if current_user.type_compte=="utilisateur" %}
							<span class="title"> Moderateur : ROBERT</span>
							{% endif %} -->
						</div>
					</div>
					{% endif %}
				</header>
				<div class="page_centre">{% block contentbase %}{% endblock %}</div>
			</div>
		</div>
	</body>

	{% endblock %}
