{% extends "base.html" %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='bonjour.css') }}">
{% endblock %}


{% block scripts %}
{{ super() }}

<script src="http://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js">
</script>
<script src="{{ url_for('static', filename='typed/js/typed.js') }}"></script>
<script type="text/javascript">

$(function() {
  /*j'utilise librairie de jquery typed.js*/
  $("#typed").typed({
    strings: ["Python", "Java", "C/C++"],
    typeSpeed: 100,
    backDelay: 1500,
    loop: true,
    callback: function(){}
  });
});
</script>

{% endblock %}

{% block contentbase %}

<div class="container" >

  <h1> Bienvenue sur <span class="typed">Agar.IA</span> <br></h1>
  <br>
  <br>
  <p>Sur <span class="typed">Agar.IA</span> vous allez apprendre le <span id="typed" class="typed"></span>.</p>

  <p style="text-indent:2em">
    Si vous savez déjà un peu programmer et que vous souhaitez vous <span class="typed">entraîner</span>
    tout en vous
    <span class="typed">amusant</span>
    , vous êtes au bon endroit ! Sur ce site vous pourrez participer à des jeux en programmant
    <span class="typed">l’intelligence artificielle d’une boule</span>.
    Afin d’ajouter de la
    <span class="typed">compétition</span>
    vous pourrez participer à des
    <span class="typed">tournois</span>
    qui vous feront gagner plus de
    <span class="typed">points</span>
    et monter dans le classement.
  </p>

</div>

{% endblock %}
