<!doctype html>
<html lang="fr">
	<head>
  		<meta charset="utf-8">
			<link rel="stylesheet" href="../static/jquery/jquery-ui/jquery-ui.theme.min.css" />
	        <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
	        <script type="text/javascript" src=/static/jquery/jquery-ui/jquery.min.js></script>
  		<link rel="stylesheet" href="{{ url_for('static', filename='canvas.css') }}">
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
	</head>
	<body >
	  	<div id="container">
			<script type="text/javascript" src="{{ url_for('static', filename='Canvas.js') }}"  style="border:100px solid #000000;" ></script>
	 	</div>
	</body>
</html>
