{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='nouvelleIa.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}
<style type="text/css" media="screen">
    #editor {
      margin-top: 20px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50px;
      height: 650px;
      width: 90%;
    }
  $("#btn-jouer").click( function() {
      // CODE HERE
  });
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
</script>



<script type="text/javascript">

	function reqListener () {
  		alert(this.responseText);
	}

	function readToFile(d1, d2){
		var oReq = new XMLHttpRequest();
		oReq.onload = reqListener;
		oReq.open("get", "test.txt", true);
		oReq.send();
	}

	function writeToFile(d1, d2){
		var oReq = new XMLHttpRequest();
		//oReq.onload = reqListener;
		oReq.open("GET", "test.txt", true);
		oReq.setRequestHeader('X-Test', 'one');
		oReq.send();
	}

	function affiche(){
		//alert(editor.getValue());
		/*editor.setShowPrintMargin(false);
		editor.setReadOnly(true);
		editor.setValue("the new text here");
		*/

	var id = 1
    var content = "hello"
    writeToFile(id, content);

	}
</script>
{% endblock %}

{% block contentbase %}

<div class="terminal" >
	<div id="editor"></div>
</div>
<br>
<button id="btn-jouer" type="submit" class="btn btn-primary">Jouer !</button>


{% endblock %}
