
{% extends "base.html" %}

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='classements.css') }}">

    {% endblock %}

      {% block scripts %}
    {{super()}}

   <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js">
    </script>
    <script src="{{url_for('.static', filename='classements.js')}}"></script>

  {% endblock %}

{% block contentbase %}
<div class="container-table">
  <table id="datatable">

  <thead>
    <tr class="odd">
      <th class='prop__name'>Nom du tournoi</th>
      <th class='prop__name'>Date de début</th>
      <th class='prop__name'>Date de fin</th>
      <th class='prop__name'>Nombre de participant</th>
      <th class='prop__name'>Nom du moderateur</th>
    </tr>
  </thead>

  <tbody>
      {% for nom_tournois, date_debut, date_fin, nb_participants, nom_moderateur in tournoi %}
        <tr >
            <td class='prop__name'>{{ nom_tournois }}</td>
            <td class='prop__name'>{{ date_debut }}</td>
            <td class='prop__name'>{{ date_fin }}</td>
            <td class='prop__name'>{{ nb_participants }}</td>
            <td class='prop__name'>{{ nom_moderateur }}</td>
       </tr>

      {% endfor %}
  </tbody>


  </table>
<tfoot>
 <a href="{{ url_for('acceuil_admini') }}" button type="button" class="btn btn-primary btn-lg"> Retour </button> </a>

 <button type="button" class="btn btn-success btn-lg"> Valider </button>

 <button type="button" class="btn btn-danger btn-lg"> Supprimer </button>

</tfoot>




{% endblock %}
