{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='nouvelleIa.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}

<style type="text/css" media="screen">
    #editor {
      margin-top: 20px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50px;
      height: 650px;
      width: 90%;
    }

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
</script>



<script type="text/javascript">

	function reqListener () {
  		alert(this.responseText);
	}

	function readToFile(d1, d2){
		var oReq = new XMLHttpRequest();
		oReq.onload = reqListener;
		oReq.open("get", "test.txt", true);
		oReq.send();
	}

	function writeToFile(){
        ajouterProgramme("hello", current_user.pseudo);
	}

	function affiche(){
		//alert(editor.getValue());
		/*editor.setShowPrintMargin(false);
		editor.setReadOnly(true);
		editor.setValue("the new text here");
		*/

	var id = 1
    writeToFile();

	}
</script>
{% endblock %}

{% block contentbase %}
<div class="terminal" >
	<div id="editor">
        # Voici un exemple de code (à comlpéter) que vous pouvez reprendre
        # Pour vous aider a coder votre IA.

        # ================ Import ================
        # Gestion des imports

        from random import *
        from .Serveur import *
        from math import *

        class Boule:
        	def __init__(): # A compléter

        # =========== Getters & Setters ===========

        # Remplir ici les méthode permettant de récupérer les différents
        # attributs de la class Boule défini au dessus

        @property
    	def id(self): # A compléter
    		pass

    	@property
    	def position(self): # A compléter
    		pass

        # ================ Display ================

        # Définir ici la méthode permettant de

        def affichage(self): # A compléter
            pass

        # ================ Update ================

        # Définir ici une méthode qui sera appeler à chaque tour
        # (Pour le déplacement par exemple...)

        def update(self, position): # A compléter
            pass

        # ============= Other methods ============

        # Définir ici toute les méthodes qui vous sembleront nécessaire
        # au developpement de votre IA.
        # Pensez à commenter votre code pour plus de lisibilité et demander l'aide
        # de votre charger de TD / TP en cas de besoin.

        # Bonne chance !

        </div>
</div>
<br>

<button onclick="affiche()" type="button" class="btn btn-success btn-lg"> Save </button>

{% endblock %}
